body{
    margin: 0;
    background-color: #0a1214;
}
.container{
    width: 150px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container span{
    width: 35%;
    height: 0;
    background-color: #db0001;
    position: absolute;
}
.container::after{
    content: '';
    position: absolute;
    width: 120%;
    height: 20px;
    border-radius: 50%;
    background-color: #0a1214;
    left: -10%;
    bottom: -10px;
    z-index: 5;
}
.left{
    left: 0;
    bottom: 0;
    animation: anim 1s linear forwards;
    animation-delay: 1s;
}
.center{
    top: 0;
    left: 0;
    transform: skewX(22deg);
    transform-origin: top left;
    box-shadow: 0 0 50px #0a1214;
    z-index: 2;
    animation: anim 1s linear forwards;
    animation-delay: 2s;
}
.right{
    right: 0;
    bottom: 0;
    animation: anim 1s linear forwards;
    animation-delay: 3s;
}
@keyframes anim {
    100%{
        height: 100%;
    }
}